$iPhone5: "only screen and (max-height: 320px)";
$iPhone6: "only screen and (min-height: 375px)";
$iPhone6plus: "only screen and (min-height: 414px)";
$iPad: "only screen and (min-height: 768px)";

$keyboard-height: 100%;
$key-width: 60px;
$black-key-width: 36px;
$black-key-offset: 0;
$header-height: 50px;
$header-border: 1px;
$standardPadding: 10px;
$playButtonBckgroundColor: #666;
$audioPlayerHeight: 20%;

$fontsizeH: 20pt;
$fontcolorH: #888;

$fontsizeN: 16pt;
$fontcolorN: #444;

$fontsizeD: 10pt;
$fontcolorD: #999;
