@import "common.scss";

.notimportant{
  font-size: 8pt; 
}


/*
  .listdiv{
      color:#CCC;
      -webkit-box-shadow: -7px 7px 29px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: -7px 7px 29px -9px rgba(0,0,0,0.75);
      box-shadow: -7px 7px 29px -9px rgba(0,0,0,0.75);
      padding: 10pt;
      margin: 10pt;
    }


  .listitemdiv {
    -webkit-box-shadow: inset -8px 8px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -8px 8px 10px -10px rgba(0,0,0,0.75);
    box-shadow: inset -8px 8px 10px -10px rgba(0,0,0,0.75);
    background-color: #EFF;
    padding: 10pt;
    margin: 10pt;

  }

  .listitemname {
    font-size: $fontsizeN;
    color: $fontcolorN;
    a {
      color:$fontcolorN;
    }
  }

  .listitemdata {
    font-size: $fontsizeD;
    color: $fontcolorD;
  }
*/
