<div data-role="tabs">
   <div data-role="navbar">
     <ul>
       <li><a href="#fragment-1" class="ui-btn-active">Age</a></li>
       <li><a href="#fragment-2">Data</a></li>
     </ul>
   </div>
   <div id="fragment-1">
     <h2>{{name}}</h2>
     <div class="itemdiv">
       <form>
           <label for="slider-1">age</label>
           <input type="range" name="slider-1" id="age-slider" min="0" max="100" value="{{age}}">
       </form>
     </div>
   </div>
   <div id="fragment-2">
     <h2>{{name}}</h2>
     <p >item's data: {{data}}</p>
     <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-left">back to the list</a>
   </div>
 </div>
</div>
