<h1>list Template</h1>
<div class="listdiv">
  {{#each items}}
  <div class="listitemdiv">
    <p class="listitemname"><a href="/#items/{{name}}">{{name}}</a></p>
    <p class="listitemdata">{{data}}</p>
  </div>
  {{/each}}
</div>
